# Data Science Tools and Ecosystem

#### In this notebook, Data Science Tools and Ecosystem are summarized:

Objectives:
* List of popular languages for Data Science
* List of commonly used libraries used by Data Scientists
* List of development environment open source tools used in data science
* A few examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R Statistical Language
3. Julia
4. Java
5. C++/C
6. Swift
7. Go
8. SQL
9. MATLAB

Some of the commonly used libraries used by Data Scientists include:

1. Numpy
2. Pandas
3. Matplot
4. Scikitlearn
5. Tensorflow
6. GGplot
7. Plotly
8. Caret
9. dplyr

Three development environment open source tools used in data science are:

|Data Science Tools|
|---|
|Jupyter Notebook|
|R Studio|
|Spyder|
|Visual Studio Code|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Gyaneshwar Gosain